html, body {
  overflow: hidden;
  box-sizing: border-box;
}

video {
    width:33%;
    position: relative;
    display: inline-block;
    
}

@media only screen and (max-width:768px) {
  video {
    width: 100%;
  }
}

.fb-c {
  display: flexbox;
  align-items: center;
  justify-content: center;
  position: relative;
}

div, .container-fluid {
    padding: 0 ;
}

/* Modal háttér */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

}

/* Modal ablak */
.modal-content {
  background-color: #202020;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 350px;
  text-align: center;
  animation: fadeIn 0.4s ease;
  color: #fff;
  border: 3px #555555 solid;

}

.modal-content h1,
h2,
h3,
h4 {
  margin-top: 0;
  color: #ffffff;
}

.modal-content h1 {
  margin-bottom: 1rem;
}

.close-btn {
  margin-top: 0;
  padding: 10px 20px !important;
  border: none;
  background-color: #5c47c7;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.close-btn:hover {
  background-color: #3a298b;
  scale: 1.1;
}